<%= form_with(model: garment_type, local: true) do |form| %>
  <% if garment_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(garment_type.errors.count, "error") %> prohibited this garment_type from being saved:</h2>

      <ul>
        <% garment_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :category %>
        <%= form.select :category, options_for_select(GarmentType.translated_categories.map { |translation, k, _v| [translation, k] }), {}, { class: "form-control"} %>
      </div>
    </div>
  </div>
  <h3>Elige que atributos puede tener esta prenda (aparecen todos los atributos)</h3>

  <div class="row">
    <% @garment_attributes_hash.each do |key, values| %>
      <div class="col-sm-4">
        <div class="form-group">
          <%= label_tag key, GarmentAttribute.translated_kind(key) %>
          <%= select :garment_type, 'attributes', options_for_select(values.map{|s|[s.name, s.id]}, @garment_type.all_attributes.ids),
                     {}, multiple: true, id: "select-#{key}", class: "form-control garment-attribute-select"
          %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
