<p id="notice"><%= notice %></p>

<h1><%= GarmentType.model_name.human %></h1>

<div class="row my-4">
  <div class="col-md-4">
    <input id="filter-objects" type="text" placeholder="Buscar..." class="form-control">
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= GarmentType.human_attribute_name(:name) %></th>
      <th scope="col">Category</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @garment_types.each do |garment_type| %>
      <tr class="to-filter" data-text="<%= garment_type.name %> <%= garment_type.translated_category %>">
        <td><%= garment_type.name %></td>
        <td><%= garment_type.translated_category %></td>
        <td>
          <%= link_to garment_type, class: "icon-button mr-3", title: 'show' do %>
            <%=fa_icon('eye')%>
          <% end %>
          <%= link_to edit_garment_type_path(garment_type), class: "icon-button mr-3", title: 'edit' do %>
            <%=fa_icon('edit')%>
          <% end %>
          <%= link_to garment_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "icon-button", title: 'delete' do %>
            <%=fa_icon('trash')%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Nuevo #{GarmentType.model_name.human}", new_garment_type_path %>
