<p id="notice"><%= notice %></p>

<h1><%= Body.model_name.human %></h1>

<p>
  <strong><%= Body.human_attribute_name(:name) %>:</strong>
  <%= @body.name %>
</p>
<div class="row">
  <% @body.all_attributes.group_by(&:kind).each do |key, values| %>
    <div class="col-sm-4">
      <strong>Atributos <%= GarmentAttribute.translated_kind(key) %>:</strong>
      <ul>
      <% values.each do |value| %>
        <li><%= value.name %></li>
      <%end%>
      </ul>
    </div>
  <%end%>
</div>

<%= link_to 'Edit', edit_body_path(@body) %> |
<%= link_to 'Back', bodies_path %>
