<p id="notice"><%= notice %></p>

<h1><%= Body.model_name.human %></h1>

<p>
  <strong><%= Body.human_attribute_name(:name) %>:</strong>
  <%= @body.name %>
</p>

<%= link_to 'Edit', edit_body_path(@body) %> |
<%= link_to 'Back', bodies_path %>
