<p id="notice"><%= notice %></p>

<h1><%= FashionStyle.model_name.human %></h1>

<p>
  <strong><%= FashionStyle.human_attribute_name(:name)  %>:</strong>
  <%= @fashion_style.name %>
</p>

<%= link_to 'Edit', edit_fashion_style_path(@fashion_style) %> |
<%= link_to 'Back', fashion_styles_path %>
