<p id="notice"><%= notice %></p>

<h1>Atributos por Estilo</h1>

<div class="row my-4">
  <div class="col-md-4">
    <input id="filter-objects" type="text" placeholder="Buscar..." class="form-control">
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Tipo de prenda</th>
      <th scope="col">Categoria</th>
      <th scope="col">Estilo</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fashion_style_garments.each do |fashion_style_garment| %>
      <tr class="to-filter" data-text="<%= fashion_style_garment.garment_type.name %> <%= fashion_style_garment.fashion_style.name %>">
        <td><%= fashion_style_garment.garment_type.name %></td>
        <td><%= fashion_style_garment.garment_type.translated_category %></td>
        <td><%= fashion_style_garment.fashion_style.name %></td>
        <td>
          <%= link_to fashion_style_garment, class: "icon-button mr-3", title: 'show' do %>
            <%=fa_icon('eye')%>
          <% end %>
          <%= link_to edit_fashion_style_garment_path(fashion_style_garment), class: "icon-button mr-3", title: 'edit' do %>
            <%=fa_icon('edit')%>
          <% end %>
          <%= link_to fashion_style_garment, method: :delete, data: { confirm: 'Are you sure?' }, class: "icon-button", title: 'delete' do %>
            <%=fa_icon('trash')%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Atributos por Estilo', new_fashion_style_garment_path %>