<%= form_with(model: body_garment, local: true) do |form| %>
  <% if body_garment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(body_garment.errors.count, "error") %> prohibited this body_garment from being saved:</h2>

      <ul>
        <% body_garment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :garment_type_id %>
        <%= form.select :garment_type_id, options_for_select(GarmentType.all.map{|s|[s.name, s.id]}), {include_blank: true}, { class: "form-control",
                        'ic-get-from': welcome_accepted_attributes_path(form_name: 'body_garment'),
                        'ic-target': '#hola-soy-ic',
                        'ic-trigger-on': 'change'
                        } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :body_id %>
        <%= form.select :body_id, options_for_select(Body.all.map{|s|[s.name, s.id]}), {}, { class: "form-control"} %>
      </div>
    </div>
  </div>
  <div class="row" id="hola-soy-ic">
    <% @garment_attributes_hash.each do |key, values| %>
      <div class="col-sm-4">
        <div class="form-group">
          <%= label_tag key, GarmentAttribute.translated_kind(key) %>
          <%= select :body_garment, 'attributes', options_for_select(values.map{|s|[s.name, s.id]}, @body_garment.all_attributes.ids),
                     {}, multiple: true, id: "select-#{key}", class: "form-control garment-attribute-select"
          %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
