<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @body_garment.body.name %>
</p>

<p>
  <strong>Garment type:</strong>
  <%= @body_garment.garment_type.name %>
</p>

<div class="row">
  <% @body_garment.all_attributes.group_by(&:kind).each do |key, values| %>
    <div class="col-sm-4">
      <strong>Atributos <%= GarmentAttribute.translated_kind(key) %>:</strong>
      <ul>
      <% values.each do |value| %>
        <li><%= value.name %></li>
      <%end%>
      </ul>
    </div>
  <%end%>
</div>

<%= link_to 'Edit', edit_body_garment_path(@body_garment) %> |
<%= link_to 'Back', body_garments_path %>
